h2 {
    text-decoration: underline #D6372F;
    text-align: center;
}

body{
    margin: 0;
}

/*NavBarre*/
.navBarre {
    background: rgba(47, 206, 214, 0.25);
}

a {
    color: #000;
}
  
/* header */
.header {
    display: flex;
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    width: 100%;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}
  
.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}
  
.header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
}
  
.header li a:hover,
.header .menu-btn:hover {
    background-color: #f4f4f4;
    text-decoration: underline #D6372F;
    color: #D6372F; 
}
  
.header .logo {
    display: block;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
}
  
  /* menu */
  
.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}
  
/* menu icon */  
.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
  
.header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    width: 18px;
}
  
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
  
.header .menu-icon .navicon:before {
    top: 5px;
}
  
.header .menu-icon .navicon:after {
    top: -5px;
}
  
/* menu btn */  
.header .menu-btn {
    display: none;
}
  
.header .menu-btn:checked ~ .menu {
    max-height: 100%;
}
  
.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}
  
.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}
  
.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}
  
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}
  
@media (min-width: 600px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

.caseIntro{
    width: 100%;
    background-color: rgba(47, 206, 214, 0.25);
}

.Intro{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding-bottom: 2em;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content: space-between;
}

h2{
    text-decoration: underline #D6372F;
    width: 100%;
    padding-top: 1em;
}

.texteIntro {
    opacity:  50%;
    width: 70%;
}

.flexLogoBts{
    width: 20%;
}

.imgBts {
    display: flex;
    width: 250px;
}

@media (max-width: 600px){
    .texteIntro{
        width: 100%;
    }

    .imgBts{
        width: 300px;
    }

    .flexLogoBts{
        display: flex;
        width: 100%;
        justify-content: center;
    }
}

.caseSisrSlam{
    width: 100%;
    background-color: white;
}

.conteneurSisrSlam{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2em;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content: space-between;
}

.Sisr{
    display: flex;
    width: 50%;
    flex-wrap: wrap;
}

.Slam{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: end;
}

h3{
    text-decoration: underline #D6372F;
    width: 75%;
    padding-top: 1em;
}

.texteSisrSlam{
    opacity: 50%;
    width: 75%;
}

@media (max-width: 600px){
    .Sisr{
        width: 100%;
    }

    .Slam{
        width: 100%;
        justify-content: flex-start;
    }

    .texteSisrSlam{
        width: 100%;
    }
}

.caseMatieres{
    background-color: rgba(47, 206, 214, 0.25);
    width: 100%;
}

.conteneurMatieres{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2em;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content: space-between;
}

.titreGen{
    display: flex;
    justify-content: center;
}

.matGen{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.matSisr{
    display: flex;
    width: 50%;
    flex-wrap: wrap;
}

.matSlam{
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    justify-content: end;
}

.listeSisr{
    width: 80%;
    list-style: none;
    opacity: 50%;
}

.listeSlam{
    width: 70%;
    list-style: none;
    opacity: 50%;
}

.listeGen{
    list-style: none;
    opacity: 50%;
}

.titreSisrSlam{
    display: flex;
    justify-content: center;
}

@media (max-width: 600px){
    .matGen{
        width: 100%;
        justify-content: flex-start;
    }
    
    .matSisr{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    
    .matSlam{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    
    .listeSisr{
        width: 100%;
        list-style: none;
        opacity: 50%;
    }
    
    .listeSlam{
        width: 100%;
        list-style: none;
        opacity: 50%;
    }
    
    .listeGen{
        list-style: none;
        opacity: 50%;
        width: 100%;
    }
    
    .titreGen{
        width: 100%;
        display: flex;
        justify-content: flex-start;   
    }

    .titreSisrSlam{
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }
}

/*Footer*/
footer {
    display: flex;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    background: white;
}

.flexboxFoot {
    display: flex;
    width: 100%;
    bottom: 0;
    flex-wrap: wrap;
}

.titreInfo {
    display: block;
    text-align: center;
    width: 100%;
}

.listeInfo {
    display: block;
    list-style: none;
    text-align: center;
    opacity: 50%;
    width: 100%;
    padding: 0;
}

.listeLienInfo {
    display: block;
    text-align: center;
    width: 100%;
}

.lienInfo {
    padding: 10px;
    width: 25px;
    height: 25px;
}