/*Général*/
h2 {
    text-decoration: underline #D6372F;
}

body{
    margin: 0;
}

/*NavBarre*/
.navBarre {
    background: rgba(47, 206, 214, 0.25);
}

a {
    color: #000;
  }
  
  /* header */
  
  .header {
    display: flex;
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    width: 100%;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
    text-decoration: underline #D6372F;
    color: #D6372F; 
  }
  
  .header .logo {
    display: block;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  @media (min-width: 600px) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }
  




/*Case Presentation*/
.casePresentation {
    background: rgba(47, 206, 214, 0.25);
    padding: 1.5em;
}

.conteneurPres {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding-bottom: 2em;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content: space-between;
}

.titrePres {
    display: flex;
    width: 100%;
    justify-content: center;
}

.TextePres {
    display: flex;
    text-align: left;
    justify-content: flex-start;
    opacity: 50%; 
    width: 70%;
    font-size: 18px;
}

.photoPres {
    width: 150px;
    border: 1px solid rgba(0, 0, 0, 0.5);   
}

@media (max-width: 600px){
    .TextePres{
        width: 100%;
    }

    .photoPres{
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
}  

/*Case Compétences et Formations*/
.caseCompForm {
    background-color: white;
    padding: 1.5em;
}

.conteneurCompForm {
    display: flex;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    flex-wrap: wrap;
    justify-content: space-between;   
}

.comp {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    align-items: center;
    justify-content: space-between;
}

.comp1{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.titreComp {
    text-align: center;
    width: 100%;
}

.titreCompListe{
    display: flex;
    align-items: center;
    width: 100%;
}

.etoiles{
    padding-left: 0.5em;
}

.texteComp {
    opacity: 50%;
    width: 50%;
    align-items: center;
}

.listeComp {
    list-style: none;
    opacity: 50%;
    column-count: 2;
    width: 50%;
    text-align: left;
}

.form{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    align-items: center;
    justify-content: space-around;
    margin-bottom: auto;
}

.titreForm {
    text-align: center;
    width: 100%;
}

.texteForm{
    opacity: 50%;
    width: 50%;
}

.form1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2em;
}

.logoLycee {
    width : 100px;
}

.form2{
    width: 100%;
    padding-top: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoEcole {
    width: 100px;
}

@media (max-width: 600px){
    .comp{
        width: 100%;
    }

    .listeComp{
        column-count: 1;
        padding: 1em;
    }

    .form{
        width: 100%;
    }

    .texteForm{
        width: 100%;
    }

    .form1{
        flex-wrap: wrap;
    }

    .logoLycee {
        width : 100px;
        margin-right: auto;
        margin-left: auto;
    }

    .form2{
        flex-wrap: wrap;
    }

    .logoEcole {
        width: 100px;
        margin-right: auto;
        margin-left: auto;
    }
}

/*case Experiences*/
.caseExp {
    background: rgba(47, 206, 214, 0.25);
    padding: 1.5em;
}

.conteneurExp {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;   
    padding-bottom: 2em;
}

.titreExp {
    width: 100%;
    text-align: center;
}

.Exp {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
 
.image {
    width: 20%;
    padding-top: 2em;
}

.LogoExp {
    width: 125px;
    height: 82px;
    padding-bottom: 1em;
}

.texteExp {
    text-align: left;
    align-items: baseline;
    opacity: 50%; 
    width: 100%;
    font-size: 18px;
    margin-top: 10px;
}

@media (max-width: 600px){
    .Exp{
        flex-wrap: wrap;
    }

    .image{
        width: 100%;
    }

    .logoExp {
        margin-right: auto;
        margin-left: auto;
    }
}

/*Footer*/
footer {
    display: flex;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    background: white;
}

.flexboxFoot {
    display: flex;
    width: 100%;
    bottom: 0;
    flex-wrap: wrap;
}

.titreInfo {
    display: block;
    text-align: center;
    width: 100%;
}

.listeInfo {
    display: block;
    list-style: none;
    text-align: center;
    opacity: 50%;
    width: 100%;
}

.listeLienInfo {
    display: block;
    text-align: center;
    width: 100%;
}

.lienInfo {
    padding: 10px;
    width: 25px;
    height: 25px;
}