h2 {
    text-decoration: underline #D6372F;
}

.menu {
    display: flex;  
    flex-flow: row nowrap;  
    justify-content: center;  
    width: 100%;
    background: rgba(47, 206, 214, 0.25);
}

.listeNavBarre {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: white;
    width: 80%;
    height: 50px;
}

.lienPage {
    display:block;               
    min-width: 120px;          
    margin-left: 20px; 
    margin-right: 20px;
    width: 100%;
    text-align: center;           
    text-decoration: none;
} 

.lienPage a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.lienPage a:hover {
    text-decoration: underline;
    color: #D6372F;
}






.casePresentation {
    display: flex;
    width: 100%;
    height: 339px;
    background: rgba(47, 206, 214, 0.25);
    flex-wrap: wrap;
}

.titrePres {
    display: flex;
    width: 100%;
    justify-content: center;
}

.TextePres {
    display: flex;
    text-align: left;
    justify-content: baseline;
    opacity: 50%; 
    width: 70%;
    margin-left: 9%;
    font-size: 18px;
}

.photoPres {
    display: flex;
    width: 7%;
    height: 50%;
    margin-right: 9%;
    border: 1px solid rgba(0, 0, 0, 0.5);   
}






.caseCompForm {
    display: flex;
    left: 6%;
    right: 6%;
    text-align: left;
    justify-content: space-around;
}

.titreCompForm {
    text-align: center;
}

.texteComp {
    opacity: 50%;
}

.listeComp {
    list-style: none;
    opacity: 50%;
    column-count: 2;
    text-align: left;
}

.TexteForm {
    opacity: 50%;
    width: 100%;
    margin-right: 200px;
    margin-top: 50px;
}

.logoLycee {
    width : 100px;
    float: right;
}

.logoEcole {
    width: 100px;
    right: 6%;
    float: right;
}





.caseExp {
    background: rgba(47, 206, 214, 0.25); 
    display: flex;
    width: 100%;
    left: 0px;
    height: 400px;
    flex-wrap: wrap;
    justify-content: center;
}

.titreExp {
    width: 100%;
    text-align: center;
}

.Exp {
    display: flex;

}
 
.image {
    margin: 0;
    flex: 1;
}

.LogoExp {
    width: 25%;
    vertical-align: top;
}

.LogoEL {
    width: 10%;
    vertical-align: top;
}

.texteExp {
    text-align: justify ;
    opacity: 50%; 
    font-size: 18px;
    margin-top: 10px;
}




footer {
    display: flex;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
}

.flexboxFoot {
    display: block;
    width: 100%;
}

.titreInfo {
    display: block;
    margin-top: 40px;
    text-align: center;
}

.listeInfo {
    display: block;
    list-style: none;
    text-align: center;
    opacity: 50%;
    margin-top: 20px;
}

.listeLienInfo {
    display: block;
    margin-top: 20px;
    text-align: center;
}

.lienInfo {
    padding: 10px;
    width: 25px;
    height: 25px;
}