h2 {
    text-decoration: underline #D6372F;
    text-align: center;
    padding-top: 1em;
}

body{
    margin: 0;
}

/*NavBarre*/
.navBarre {
    background: rgba(47, 206, 214, 0.25);
}

a {
    color: #000;
}
  
/* header */
.header {
    display: flex;
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    width: 100%;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
}
  
.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}
  
.header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
}
  
.header li a:hover,
.header .menu-btn:hover {
    background-color: #f4f4f4;
    text-decoration: underline #D6372F;
    color: #D6372F; 
}
  
.header .logo {
    display: block;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
}
  
  /* menu */
  
.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}
  
/* menu icon */  
.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
  
.header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    width: 18px;
}
  
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
  
.header .menu-icon .navicon:before {
    top: 5px;
}
  
.header .menu-icon .navicon:after {
    top: -5px;
}
  
/* menu btn */  
.header .menu-btn {
    display: none;
}
  
.header .menu-btn:checked ~ .menu {
    max-height: 100%;
}
  
.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}
  
.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}
  
.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}
  
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}
  
@media (min-width: 600px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

h3{
    text-decoration: underline #D6372F;
    width: 70%;
    padding-top: 1em;
}



.caseProjet1{
    width: 100%;
    background-color: rgba(47, 206, 214, 0.25);
}

.Projet1{
    display: flex;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    padding-bottom: 2em;
    justify-content: space-between;
}

.titrePro1{
    display: flex;
    width: 100%;
    justify-content: center;
}

.texteProjet1{
    display: flex;
    opacity:  50%;
    width: 50%;
    
}

.listeProjet1 {
    width: 50%;
    list-style-type: none;
    opacity: 50%;
}

.ImagesProjet1{
    display: flex;
    width: 30%;
    justify-content: space-between;
}

.imgProjet1{
    display: flex;
    width: 300px;
    
}

.img2Projet1{
    display: flex;
    width: 300px;
}





.caseProjet2{
    width: 100%;
    background-color: white;
}

.Projet2{
    display: flex;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    padding-bottom: 2em;
    justify-content: space-between;
}

.texteProjet2{
    display: flex;
    opacity:  50%;
    width: 70%;
}

.listeProjet2 {
    width: 25%;
    list-style-type: none;
    opacity: 50%;
}

.videoLogo{
    width: 300px;
}





.caseProjet3{
    width: 100%;
    background-color: rgba(47, 206, 214, 0.25);
}

.Projet3{
    display: flex;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    padding-bottom: 2em;
    justify-content: space-between;
}

.texteProjet3{
    display: flex;
    opacity:  50%;
    width: 70%;
}

.listeProjet3 {
    width: 25%;
    list-style-type: none;
    opacity: 50%;
}


.imgProjet3{
    width: 300px;
}




.caseProjet4{
    width: 100%;
    background-color: white;
}

.Projet4{
    display: flex;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    padding-bottom: 2em;
    justify-content: space-between;
}

.texteProjet4{
    display: flex;
    opacity:  50%;
    width: 70%;
}

.listeProjet4 {
    width: 25%;
    list-style-type: none;
    opacity: 50%;
}


.imgProjet4{
    width: 300px;
}

/*Footer*/
footer {
    display: flex;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    background: white;
}

.flexboxFoot {
    display: flex;
    width: 100%;
    bottom: 0;
    flex-wrap: wrap;
}

.titreInfo {
    display: block;
    text-align: center;
    width: 100%;
}

.listeInfo {
    display: block;
    list-style: none;
    text-align: center;
    opacity: 50%;
    width: 100%;
}

.listeLienInfo {
    display: block;
    text-align: center;
    width: 100%;
}

.lienInfo {
    padding: 10px;
    width: 25px;
    height: 25px;
}